{% extends 'registration/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Регистрация'%} {% endblock %}
{% block content %}
{% load static %}
<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">{% trans 'Регистрация'%}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="{% url 'index' %}">
                            {% trans 'Главная'%}
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        {% trans 'Регистрация'%}
                    </li>
                </ol>
            </nav>
        </div>
    </header>


    <!-- REGISTER
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Register -->
                <h3 class="mb-6">{% trans 'Зарегистрируйтесь и начните учиться!' %}</h3>
                {% include 'include/msg.html' %}
                <!-- Form Register -->
                <form class="mb-5" method="POST" action={% url 'register' %} enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Username -->
                    <div class="form-group mb-5">
                        <label for="username">
                            {% trans 'Никнейм' %}
                        </label>
                        <input type="text" class="form-control" id="username" placeholder="John" name="username">
                    </div>
                    <!-- First name -->
                    <div class="form-group mb-5">
                        <label for="first_name">
                            {% trans 'Имя' %}
                        </label>
                        <input type="text" class="form-control" id="first_name" placeholder="John" name="first_name">
                    </div>
                    <!-- Last name -->
                    <div class="form-group mb-5">
                        <label for="last_name">
                            {% trans 'Фамилия' %}
                        </label>
                        <input type="text" class="form-control" id="last_name" placeholder="John" name="last_name">
                    </div>
                    <!-- Phone number -->
                    <div class="form-group mb-5">
                        <label for="phone">{% trans 'Телефон номер'%}</label>
                        <input type="text" class="form-control phone" id="phone"
                            placeholder="+996(777)-777-77-77" required name="phone_number" value="{{user_profile.phone_number}}">
                    </div>

                    {% comment %} School {% endcomment %}
                    <div class="form-group mb-5">
                        <label for="school">
                            {% trans 'Школа'%}
                        </label>
                        <input type="text" class="form-control" id="school" placeholder="School" name="school">
                    </div>

                    <div class="form-group mb-5">
                        <label for="clas">
                            {% trans 'Класс' %}
                        </label>
                        <input type="number" class="form-control" id="clas" placeholder="Class" name="clas">
                    </div>
                    <div class="form-group mb-5">
                        <label for="bitrh_day">
                            {% trans 'День рождения' %}
                        </label>
                        <input type="date" class="form-control" id="bitrh_day" placeholder="birthday" name="birthday">
                    </div>

                    <!-- Email -->
                    <div class="form-group mb-5">
                        <label for="email">
                            {% trans 'Электронная почта' %}
                        </label>
                        <input type="email" class="form-control" id="email" placeholder="johndoe@creativelayers.com" name="email">
                    </div>

                    <!-- Password -->
                    <div class="form-group mb-5">
                        <label for="password">
                            {% trans 'Пароль' %}
                        </label>
                        <input type="password" class="form-control" id="password" placeholder="**********" name="password">
                    </div>
                    {% comment %} User Image {% endcomment %}
                    <div class="form-group mb-5">
                        <label for="profile_photo">
                            {% trans 'Фото профиля' %}
                        </label>
                        <input type="file" class="form-control" id="profile_photo" placeholder="Photo for profile" name="profile_photo">
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-block btn-primary" type="submit">
                        {% trans 'ЗАРЕГИСТРИРОВАТЬСЯ' %}
                    </button>

                </form>

                <!-- Text -->
                <p class="mb-0 font-size-sm text-center">
                    {% trans 'Уже есть аккаунт?' %} <a class="text-underline" href="{% url 'doLogin' %}">{% trans 'Войти' %}</a>
                </p>
            </div>
        </div>
    </div>


{% endblock %}