{% load static %}
<footer class="footer">
  <div class="container">
    <div class="row d-flex mb-4">
      <div class="col-12 col-lg-3">
        <a href="/" class="footer-logo mb-10">
          <img src="{{ settings.logo.url }}" width="139px" alt="" />
        </a>

        <div class="footer-description mb-35">
          <p class="footer-text">Платформа подготовки к ЕНТ</p>
        </div>

        <p class="footer-socials-title mb-15">Мы в социальных сетях:</p>
        <div class="footer-socials">
          <div class="footer-item-social">
            <a href="{{ settings.instagram }}" target="_blank"><i class="fab fa-instagram" style="color: #606266;"></i></a>
          </div>
          <div class="footer-item-social">
            <a href="{{ settings.tiktok }}" target="_blank"><i class="fab fa-tiktok" style="color: #606266;"></i></a>
          </div>
          <div class="footer-item-social">
            <a href="{{ settings.youtube }}" target="_blank"><i class="fab fa-youtube" style="color: #606266;"></i></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 mt-5 mt-lg-0">
        <h3 class="footer-links-title">Разделы сайта</h3>
        <div class="footer-links">
          <div class="footer-link">
            <a href="{% url 'courses' %}" class="footer-text">Курсы</a>
          </div>

          <div class="footer-link">
            <a href="./ubt.html" class="footer-text">Сдача ЕНТ</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 mt-5 mt-lg-0">
        <h3 class="footer-links-title">Сервис</h3>
        <div class="footer-links">
          <div class="footer-link">
            <a href="./about" class="footer-text">О проекте</a>
          </div>
          <div class="footer-link">
            <a href="tel:{{settings.phone}}" class="footer-text"
              >Обратная связь
            </a>
          </div>
          <div class="footer-link">
            <a href="./contract-offer" class="footer-text"
              >Публичный договор-оферта</a
            >
          </div>
          <div class="footer-link">
            <a href="./platform-terms" class="footer-text"
              >Политика конфиденциальности</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-3 mt-lg-0">
        <div class="footer-support-group mb-25">
          <div class="footer-support">
            <a
              href="mailto:{{settings.email}}"
              class="footer-support-link"
              target="_blank"
            >
              <img src="{% static '/images/icons/email-icon.svg' %}" alt="" />
              {{settings.email}}
            </a>
            <p class="footer-text">Ежедневно с 8:00 до 22:00</p>
          </div>
          <div class="footer-support">
            <a href="tel:{{settings.phone}}" class="footer-support-link">
              <img src="{% static '/images/icons/call-icon.svg' %}" alt="" />
              {{settings.phone}}
            </a>
            <p class="footer-text">Служба поддержки</p>
          </div>
        </div>

        <div class="footer-support">
          <button class="footer-support-btn">Обратная связь</button>
        </div>
      </div>
    </div>

    <hr style="background-color: #a9aeb2" />

    <div class="row">
      <div class="col-lg-12 footer-bottom-group">
        <p class="footer-bottom-text">© {{settings.title}}, 2023</p>
        <a href="./contract-offer" class="footer-bottom-text"
          >Публичный договор-оферта</a
        >
        <a href="./platform-terms" class="footer-bottom-text"
          >Политика конфиденциальности</a
        >
        <p class="footer-bottom-text">Разработал Akmalidin Madakimov</p>
      </div>
    </div>
  </div>
</footer>
