{% load static %}
{% load i18n %}
<section class="section section-question-main">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-8 col-md-7 col-lg-8">
                <h3 class="question-main-title">{% trans 'У вас остались вопросы?' %}</h3>
                <p class="question-main-text"><a href='#'>{% trans 'По этой ссылке'%} </a> {% trans 'вы можете получить ответы на все вопросы.' %}</p>
            </div>
            <div class="col-4 col-md-5 col-lg-4">
                <img class="question-main-icon" src="{% static '/images/message-question-icon.png' %}" alt="">
            </div>
        </div>
    </div>
</section>