{% extends 'include/homepage.html' %}
{% load static %}
{% load i18n %}
{% block title %} Результаты уже записаны {% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="breadcrumb-title">{% trans 'Ваши Результаты уже записаны!' %}</h3><br/>
                <h3 class="breadcrumb-title">{% trans 'Спасибо за прохождение!' %}</h3>
                <a href="{% url 'my_courses' %}" class="button button-outline w-25">Мои курсы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}