{% extends 'include/homepage.html' %} {% block content %}
<style>
  .answer-item-input {
    display: none;
  }
  .answer-var {
    margin: 0px !important;
  }
  .questions-item {
    display: none;
  }
</style>
<div class="container">
  <section id="app" class="questions" data-v-app="">
  <p>
    Чтобы пройти на следующий модуль, нужно пройти 50% теста.
  </p>
  <div class="testing">
    <div class="testing-body">
      <div class="timer">
        <div class="title">Вы проходите тест</div>
        <div class="text-time">
          Осталось времени:<span id="time">2:59:35</span>
        </div>
      </div>
      <div class="course-questions-block">
        <div class="questions-block-left">
          <div class="questions">
            <form method="post" action="{% url 'exam_submit_view' %}" id="examForm">
              {% csrf_token %}
              {% for question in questions %}
            <div class="questions-item" data-right-num-questions="{{ question.id }}" style="{% if forloop.first %}display: block;{% else %}display: none;{% endif %}">
              <div class="question-text">
                {{ question.question }}
              </div>
              <div class="answers">
                <div class="answer-item" data-question-id="{{ question.id }}">
                  <input type="radio" name="question{{ question.id }}" id="question{{ question.id }}_option1" class="answer-item-input" value="Option1">
                  <label for="question{{ question.id }}_option1" class="answer-var">A</label>
                  <div class="answer-text">
                    <span style="font-size: 11pt"><span style="font-family: Calibri, sans-serif">{{ question.option1 }}</span></span><br />
                  </div>
                </div>
                <div class="answer-item" data-question-id="{{ question.id }}">
                  <input type="radio" name="question{{ question.id }}" id="question{{ question.id }}_option2" class="answer-item-input" value="Option2">
                  <label for="question{{ question.id }}_option2" class="answer-var">B</label>
                  <div class="answer-text">
                    <span style="font-size: 11pt"><span style="font-family: Calibri, sans-serif">{{ question.option2 }}</span></span><br />
                  </div>
                </div>
                <div class="answer-item" data-question-id="{{ question.id }}">
                  <input type="radio" name="question{{ question.id }}" id="question{{ question.id }}_option3" class="answer-item-input" value="Option3">
                  <label for="question{{ question.id }}_option3" class="answer-var">C</label>
                  <div class="answer-text">
                    <span style="font-size: 11pt"><span style="font-family: Calibri, sans-serif">{{ question.option3 }}</span></span><br />
                  </div>
                </div>
                <div class="answer-item" data-question-id="{{ question.id }}">
                  <input type="radio" name="question{{ question.id }}" id="question{{ question.id }}_option4" class="answer-item-input" value="Option4">
                  <label for="question{{ question.id }}_option4" class="answer-var">D</label>
                  <div class="answer-text">
                    <span style="font-size: 11pt"><span style="font-family: Calibri, sans-serif">{{ question.option4 }}</span></span><br />
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="question-footer">
            <div class="left">
              <svg
                width="15"
                height="26"
                viewBox="0 0 15 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="15"
                  y="2.66547"
                  width="18"
                  height="3"
                  transform="rotate(135 15 2.66547)"
                  fill="#6666CC"
                ></rect>
                <rect
                  x="12.8789"
                  y="26"
                  width="18"
                  height="3"
                  transform="rotate(-135 12.8789 26)"
                  fill="#6666CC"
                ></rect>
              </svg>
            </div>
            <div class="center">
              <span id="current_question_number" data-num-questions="{{ num_questions }}">1 / {{ num_questions }}</span>
            </div>
            <div class="right">
              <svg
                width="15"
                height="26"
                viewBox="0 0 15 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  y="23.3345"
                  width="18"
                  height="3"
                  transform="rotate(-45 0 23.3345)"
                  fill="#6666CC"
                ></rect>
                <rect
                  x="2.12109"
                  width="18"
                  height="3"
                  transform="rotate(45 2.12109 0)"
                  fill="#6666CC"
                ></rect>
              </svg>
            </div>
          </div>
        </div>
        <div class="questions-block-right">
          <div class="title">Список вопросов</div>
          <div class="answer-numbers">
            {% for question in questions %}
              <div class="answer-number" data-right-num-questions="{{ question.id }}">{{ forloop.counter }}</div>
            {% endfor %}
          </div>
          <button class="btn default-btn">Закончить тест</button>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  window.onload = function () {
    if (window.history && window.history.pushState) {

        window.history.pushState('forward', null, './#TestPass');

        window.onpopstate = function () {
            window.location.href = "{% url 'my_courses' %}";
        };
    }
}
  let answerItems = document.querySelectorAll('.answer-item');

  answerItems.forEach(item => {
      item.addEventListener('click', function() {
          const questionId = item.dataset.questionId;
  
          // Deselect the previously selected answer for this question
          const previouslySelected = document.querySelector(`.answer-item[data-question-id="${questionId}"].answered`);
          if (previouslySelected) {
              previouslySelected.classList.remove('answered');
          }
  
          // Mark the current answer as selected
          item.classList.add('answered');
  
          // Find the radio input within the clicked .answer-item
          let radioInput = item.querySelector('.answer-item-input');
  
          // Ensure that the radio button is checked
          if (radioInput) {
              radioInput.checked = true;
          }
      });
  });


  let currentSlide = 0; // Current slide index

  function showSlide(slideIndex) {
    const slides = document.querySelectorAll('.questions-item');
    const numQuestions = document.getElementById('current_question_number').getAttribute('data-num-questions');
    
    // Hide all slides
    slides.forEach((slide) => {
      slide.style.display = 'none';
    });
    
    // Show the specified slide
    slides[slideIndex].style.display = 'block';
    
    // Update the current slide index
    currentSlide = slideIndex;
    
    // Update the current question number
    const currentQuestionNumber = document.getElementById('current_question_number');
    currentQuestionNumber.textContent = (slideIndex + 1) + ' / ' + numQuestions;
  }

  // Initial setup
  showSlide(currentSlide);

  // Function to navigate to the next slide
  function nextSlide() {
    if (currentSlide < totalSlides - 1) {
      showSlide(currentSlide + 1);
    }
  }

  // Function to navigate to the previous slide
  function prevSlide() {
    if (currentSlide > 0) {
      showSlide(currentSlide - 1);
    }
  }

  // Update totalSlides with the total number of questions
  const totalSlides = document.querySelectorAll('.questions-item').length;

  // Event listeners for navigation buttons
  document.querySelector('.left').addEventListener('click', prevSlide);
  document.querySelector('.right').addEventListener('click', nextSlide);

    // Установка даты завершения обратного отсчета
    var countDownDate = new Date().getTime() + 1 * 60 * 60 * 1000 + 10 * 60 * 1000 + 30 * 1000;

    // Обновление таймера каждую секунду
    var x = setInterval(function() {
        // Получение текущей даты и времени
        var now = new Date().getTime();

        // Разница между текущей датой и временем и датой завершения обратного отсчета
        var distance = countDownDate - now;

        // Расчет часов, минут и секунд
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Вывод оставшегося времени в формате "часы:минуты:секунды"
        document.getElementById("time").innerHTML = hours + ":" + minutes + ":" + seconds;

        // Если обратный отсчет закончился, перенаправляем пользователя
        if (distance < 0) {
            clearInterval(x);
            window.location.href = "/courses";
        }
    }, 1000);

    document.addEventListener("DOMContentLoaded", function() {
      let answerNumbers = document.querySelectorAll('.answer-number');
      let currentQuestionNumber = document.getElementById('current_question_number');
      let numQuestions = parseInt(currentQuestionNumber.getAttribute('data-num-questions'));
      let currentQuestion = parseInt(currentQuestionNumber.getAttribute('data-current-question'));
      let questionsItems = document.querySelectorAll('.questions-item');

      answerNumbers.forEach(number => {
          number.addEventListener('click', function() {
              let questionId = parseInt(number.textContent);  // Получаем номер вопроса из текста .answer-number

              questionsItems.forEach((item, index) => {
                  if (index + 1 === questionId) {
                      item.style.display = 'block';
                  } else {
                      item.style.display = 'none';
                  }
              });

              currentQuestion = questionId;
              currentQuestionNumber.textContent = `${currentQuestion} / ${numQuestions}`;
              currentQuestionNumber.setAttribute('data-current-question', currentQuestion);
          });
      });
  });

  let answerNum = document.querySelectorAll('.answer-number');

    answerNum.forEach(numbers_item => {
        numbers_item.addEventListener('click', function() {
            const questionId = numbers_item.dataset.questionId;
    
            // Deselect the previously selected answer for this question
            const previouslySelected = document.querySelector(`.answer-number[data-right-num-questions="${questionId}"].answered`);
            if (previouslySelected) {
                previouslySelected.classList.remove('answered');
            }
    
            // Mark the current answer as selected
            numbers_item.classList.add('answered');
        });
    });
</script>
{% endblock %}
