{% extends 'include/homepage.html' %}
{% load static %}
{% block title %} ТЕСТ {% endblock %}
{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Главная страница</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'ent' %}">Страница ЕНТ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Тест ЕНТ</li>
                    </ol>
                </nav>

                <h3 class="breadcrumb-title">
                    Тест ЕНТ
                </h3>
                <section id="app" class="questions" data-v-app="">
                    <section class="testing"><br>
                        <div class="testing-body">
                            <div class="timer">
                                <div class="title">Сдача ЕНТ </div>
                                <div class="text-time"> Оставшиеся время <span id="time">3:29:12</span></div>
                            </div>
                            <div class="course-questions-block">
                                <div class="questions-block-left">
                                    <div class="questions">
                                        <div>
                                            <div class="questions-item">
                                                <div class="question-text">1.&nbsp; <div>Глобус&nbsp;<br>
                                                        <span style="font-size:11pt"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    dir="ltr" lang="KZ"
                                                                    style="font-size:12.0pt"><span
                                                                        style="font-family:&quot;Times New Roman&quot;,serif"><span
                                                                            style="color:black">Бұл қазіргі
                                                                            таңда көлемі жөнінен орта Азия
                                                                            мектептеріндегі ең үлкен глобус
                                                                            болып
                                                                            саналады.&nbsp;</span></span></span></span></span><br>
                                                        <span style="font-size:11pt"><span
                                                                style="font-family:Calibri,sans-serif"><span
                                                                    dir="ltr" lang="KZ"
                                                                    style="font-size:12.0pt"><span
                                                                        style="font-family:&quot;Times New Roman&quot;,serif"><span
                                                                            style="color:black">Диаметрі 200
                                                                            сантиметр, биіктігі 3,5 метр және
                                                                            салмағы 400 кг тартатын глобусты
                                                                            жасауға мектептің технология пәнінің
                                                                            мұғалімдері мен 300-ге жуық оқушы
                                                                            қатысыпты.&nbsp;Глобус 2015-2016 оқу
                                                                            жылдарында жасалып, оған гипсокартон
                                                                            материалы қолданылған. Бұл ерекше
                                                                            дүниені жасауға 6 айға жуық уақыт
                                                                            жұмсалыпты.&nbsp;Орталық Азия
                                                                            мектептерінде жоқ алып глобус (жер
                                                                            шары) Қазақстандық КИнЭС-2020
                                                                            рекордтар кітабына енгізілуге
                                                                            ұсынылып, жеңімпаз
                                                                            атанды.&nbsp;<math
                                                                                xmlns="http://www.w3.org/1998/Math/MathML">
                                                                                <mfenced>
                                                                                    <mrow>
                                                                                        <mi
                                                                                            mathvariant="normal">
                                                                                            π</mi>
                                                                                        <mo>=</mo>
                                                                                        <mn>3</mn>
                                                                                    </mrow>
                                                                                </mfenced>
                                                                            </math><br>
                                                                            <input alt=""
                                                                                src="./Тест ЕНТ_files/глобус.jpg"
                                                                                style="width: 400px; height: 138px;"
                                                                                type="image"></span></span></span><br>
                                                                <br>
                                                                <strong><span dir="ltr" lang="KZ"
                                                                        style="font-size:14.0pt"><span
                                                                            style="font-family:&quot;Times New Roman&quot;,serif">Мәтінде
                                                                            айтылған глобустың экватор сызығының
                                                                            ұзындығын табыңыз.
                                                                        </span></span></strong></span></span><br>
                                                    </div>
                                                </div>
                                                <div class="answers">
                                                    <div class="answer-item">
                                                        <div class="answer-var">A </div>
                                                        <div class="answer-text"><span
                                                                style="font-size:11pt"><span
                                                                    style="font-family:Calibri,sans-serif"><span
                                                                        dir="ltr" lang="KZ"
                                                                        style="font-size:14.0pt"><span
                                                                            style="font-family:&quot;Times New Roman&quot;,serif">12
                                                                            м</span></span></span></span><br>
                                                            &nbsp;</div>
                                                    </div>
                                                    <div class="answer-item">
                                                        <div class="answer-var">B </div>
                                                        <div class="answer-text"><span
                                                                style="font-size:11pt"><span
                                                                    style="font-family:Calibri,sans-serif"><span
                                                                        dir="ltr" lang="KZ"
                                                                        style="font-size:14.0pt"><span
                                                                            style="font-family:&quot;Times New Roman&quot;,serif">2
                                                                            м</span></span></span></span><br>
                                                            &nbsp;</div>
                                                    </div>
                                                    <div class="answer-item">
                                                        <div class="answer-var">C </div>
                                                        <div class="answer-text"><span
                                                                style="font-size:11pt"><span
                                                                    style="font-family:Calibri,sans-serif"><span
                                                                        dir="ltr" lang="KZ"
                                                                        style="font-size:14.0pt"><span
                                                                            style="font-family:&quot;Times New Roman&quot;,serif">6
                                                                            м</span></span></span></span><br>
                                                            &nbsp;</div>
                                                    </div>
                                                    <div class="answer-item">
                                                        <div class="answer-var">D </div>
                                                        <div class="answer-text"><span
                                                                style="font-size:11pt"><span
                                                                    style="font-family:Calibri,sans-serif"><span
                                                                        dir="ltr" lang="KZ"
                                                                        style="font-size:14.0pt"><span
                                                                            style="font-family:&quot;Times New Roman&quot;,serif">4
                                                                            м</span></span></span></span><br>
                                                            &nbsp;</div>
                                                    </div>
                                                    <div class="answer-item">
                                                        <div class="answer-var">E </div>
                                                        <div class="answer-text"><span
                                                                style="font-size:11pt"><span
                                                                    style="font-family:Calibri,sans-serif"><span
                                                                        dir="ltr" lang="KZ"
                                                                        style="font-size:14.0pt"><span
                                                                            style="font-family:&quot;Times New Roman&quot;,serif">5
                                                                            м</span></span></span></span><br>
                                                            &nbsp;</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="question-footer">
                                                <div class="left inactive"><svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="15" y="2.66547" width="18" height="3" transform="rotate(135 15 2.66547)" fill="#6666CC">
                                                        </rect>
                                                        <rect x="12.8789" y="26" width="18" height="3" transform="rotate(-135 12.8789 26)" fill="#6666CC">
                                                        </rect>
                                                    </svg></div>
                                                <div class="center"><span id="current_question_number">1</span>
                                                    / 10</div>
                                                <div class="right"><svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect y="23.3345" width="18" height="3" transform="rotate(-45 0 23.3345)" fill="#6666CC">
                                                        </rect>
                                                        <rect x="2.12109" width="18" height="3" transform="rotate(45 2.12109 0)" fill="#6666CC">
                                                        </rect>
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-block">
                                    <div class="questions-block-right mb-2 optimize show-subject-number">
                                        <div class="title">Математикалық сауаттылық</div>
                                        <div class="answer-numbers">
                                            <div class="answer-number">1</div>
                                            <div class="answer-number">2</div>
                                            <div class="answer-number">3</div>
                                            <div class="answer-number">4</div>
                                            <div class="answer-number">5</div>
                                            <div class="answer-number">6</div>
                                            <div class="answer-number">7</div>
                                            <div class="answer-number">8</div>
                                            <div class="answer-number">9</div>
                                            <div class="answer-number">10</div>
                                        </div>
                                    </div>
                                    <div class="questions-block-right mb-2 optimize">
                                        <div class="title">Оқу сауаттылық</div>
                                        <div class="answer-numbers" style="display: none;">
                                            <div class="answer-number">1</div>
                                            <div class="answer-number">2</div>
                                            <div class="answer-number">3</div>
                                            <div class="answer-number">4</div>
                                            <div class="answer-number">5</div>
                                            <div class="answer-number">6</div>
                                            <div class="answer-number">7</div>
                                            <div class="answer-number">8</div>
                                            <div class="answer-number">9</div>
                                            <div class="answer-number">10</div>
                                        </div>
                                    </div>
                                    <div class="questions-block-right mb-2 optimize">
                                        <div class="title">Қазақстан тарихы</div>
                                        <div class="answer-numbers" style="display: none;">
                                            <div class="answer-number">1</div>
                                            <div class="answer-number">2</div>
                                            <div class="answer-number">3</div>
                                            <div class="answer-number">4</div>
                                            <div class="answer-number">5</div>
                                            <div class="answer-number">6</div>
                                            <div class="answer-number">7</div>
                                            <div class="answer-number">8</div>
                                            <div class="answer-number">9</div>
                                            <div class="answer-number">10</div>
                                            <div class="answer-number">11</div>
                                            <div class="answer-number">12</div>
                                            <div class="answer-number">13</div>
                                            <div class="answer-number">14</div>
                                            <div class="answer-number">15</div>
                                            <div class="answer-number">16</div>
                                            <div class="answer-number">17</div>
                                            <div class="answer-number">18</div>
                                            <div class="answer-number">19</div>
                                            <div class="answer-number">20</div>
                                        </div>
                                    </div>
                                    <div class="questions-block-right mb-2 optimize">
                                        <div class="title">Математика</div>
                                        <div class="answer-numbers" style="display: none;">
                                            <div class="answer-number">1</div>
                                            <div class="answer-number">2</div>
                                            <div class="answer-number">3</div>
                                            <div class="answer-number">4</div>
                                            <div class="answer-number">5</div>
                                            <div class="answer-number">6</div>
                                            <div class="answer-number">7</div>
                                            <div class="answer-number">8</div>
                                            <div class="answer-number">9</div>
                                            <div class="answer-number">10</div>
                                            <div class="answer-number">11</div>
                                            <div class="answer-number">12</div>
                                            <div class="answer-number">13</div>
                                            <div class="answer-number">14</div>
                                            <div class="answer-number">15</div>
                                            <div class="answer-number">16</div>
                                            <div class="answer-number">17</div>
                                            <div class="answer-number">18</div>
                                            <div class="answer-number">19</div>
                                            <div class="answer-number">20</div>
                                            <div class="answer-number">21</div>
                                            <div class="answer-number">22</div>
                                            <div class="answer-number">23</div>
                                            <div class="answer-number">24</div>
                                            <div class="answer-number">25</div>
                                            <div class="answer-number">26</div>
                                            <div class="answer-number">27</div>
                                            <div class="answer-number">28</div>
                                            <div class="answer-number">29</div>
                                            <div class="answer-number">30</div>
                                            <div class="answer-number">31</div>
                                            <div class="answer-number">32</div>
                                            <div class="answer-number">33</div>
                                            <div class="answer-number">34</div>
                                            <div class="answer-number">35</div>
                                            <div class="answer-number">36</div>
                                            <div class="answer-number">37</div>
                                            <div class="answer-number">38</div>
                                            <div class="answer-number">39</div>
                                            <div class="answer-number">40</div>
                                        </div>
                                    </div>
                                    <div class="questions-block-right mb-2 optimize">
                                        <div class="title">Физика</div>
                                        <div class="answer-numbers" style="display: none;">
                                            <div class="answer-number">1</div>
                                            <div class="answer-number">2</div>
                                            <div class="answer-number">3</div>
                                            <div class="answer-number">4</div>
                                            <div class="answer-number">5</div>
                                            <div class="answer-number">6</div>
                                            <div class="answer-number">7</div>
                                            <div class="answer-number">8</div>
                                            <div class="answer-number">9</div>
                                            <div class="answer-number">10</div>
                                            <div class="answer-number">11</div>
                                            <div class="answer-number">12</div>
                                            <div class="answer-number">13</div>
                                            <div class="answer-number">14</div>
                                            <div class="answer-number">15</div>
                                            <div class="answer-number">16</div>
                                            <div class="answer-number">17</div>
                                            <div class="answer-number">18</div>
                                            <div class="answer-number">19</div>
                                            <div class="answer-number">20</div>
                                            <div class="answer-number">21</div>
                                            <div class="answer-number">22</div>
                                            <div class="answer-number">23</div>
                                            <div class="answer-number">24</div>
                                            <div class="answer-number">25</div>
                                            <div class="answer-number">26</div>
                                            <div class="answer-number">27</div>
                                            <div class="answer-number">28</div>
                                            <div class="answer-number">29</div>
                                            <div class="answer-number">30</div>
                                            <div class="answer-number">31</div>
                                            <div class="answer-number">32</div>
                                            <div class="answer-number">33</div>
                                            <div class="answer-number">34</div>
                                            <div class="answer-number">35</div>
                                            <div class="answer-number">36</div>
                                            <div class="answer-number">37</div>
                                            <div class="answer-number">38</div>
                                            <div class="answer-number">39</div>
                                            <div class="answer-number">40</div>
                                        </div>
                                    </div>
                                    <div class="questions-block-right optimize"><button class="btn default-btn">
                                            Тестті аяқтау </button></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}