{% extends 'include/homepage.html' %}{% block title %} {{ course.course_name }} {% endblock %} {% load static %} {% block content%}
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">Главная страница</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{% url 'courses' %}">Курсы</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.course_name }}</li>
          </ol>
        </nav>

        <h3 class="breadcrumb-title">{{ course.course_name }}</h3>

        <section class="content" style="padding-top: 20px; padding-bottom: 0">
          <div class="courses-lists">
            <div class="row">
              <div class="col-lg-4">
                <div class="card card-client mb-4">
                  <img
                    src="{{ course.image.url }}"
                    class="card-img-top course-image"
                    alt=""
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{ course.course_name }}</h5>
                    <p class="card-text">Длительность {{course.time}} мес.</p>
                    {% if request.user.is_authenticated %}
                      {% if user_course.access_granted %}
                              <a href="{% url 'index' %}" class="button button-outline">Перейти к курсу</a>
                      {% else %}
                      <a href="{% url 'buy_course' course.id %}" class="button button-outline">Купить</a>
                      {% endif %}
                      {% else %}
                          <a href="{% url 'register' %}" class="button button-outline">Зарегистрируйтесь, чтобы купить курс</a>
                    {% endif %}
                  </div>
                </div>

                <div class="card card-mobile mb-1">
                  <div class="card-header">
                    <img
                      class="card-mobile-img"
                      src="{{ course.image.url }}"
                      alt=""
                    />
                    <div class="card-body card-mobile-body">
                      <h5 class="card-title">{{ course.course_name }}</h5>
                      <p class="card-text">Длительность {{course.time}} мес.</p>
                      {% if request.user.is_authenticated %}
                        {% if user_course.access_granted %}
                                <a href="{% url 'index' %}" class="button button-outline">Перейти к курсу</a>
                        {% else %}
                        <a href="{% url 'buy_course' course.id %}" class="button button-outline">Купить</a>
                        {% endif %}
                        {% else %}
                            <a href="{% url 'register' %}" class="button button-outline">Зарегистрируйтесь, чтобы купить курс</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-8 my-3 my-lg-0">
                <div class="course-main">
                  <h4 class="course-content">О курсе</h4>
                  <p class="course-description">
                    {{course.course_description}}
                  </p>
                  <hr />
                  <h4 class="course-content">Содержание</h4>
                  <div class="accordion">
                    <div class="panel panel-default accordion-item">
                      <div class="panel-heading accordion-heading" data-acc-link="accordion0" style="cursor: pointer">
                        Кіріспе
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect x="2.16211" y="6.80872" width="11.313" height="2.37077" rx="1.18538" transform="rotate(45 2.16211 6.80872)" fill="#909090"></rect>
                          <rect x="16.4854" y="8.48511" width="11.313" height="2.28276" rx="1.14138" transform="rotate(135 16.4854 8.48511)" fill="#909090"></rect>
                        </svg>
                      </div>
                      <div class="panel-body accordion-body" data-acc-content="accordion0" style="display: none">
                        <ul class="accordion-ul">
                          <li class="accordion-li">
                            <a href="https://daiyndal.kz/courses/16/module/101/lesson/347">
                              Кіріспе
                              <img src="{% static 'images/open-icon.svg' %}" alt=""/>
                            </a>
                          </li>
                          <li class="accordion-li">
                            <a href="https://daiyndal.kz/courses/16/modules/101/test">
                              Сдача теста
                              <img src="{% static 'images/open-icon.svg' %}" alt=""/>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel panel-default accordion-item">
                      <div class="panel-heading accordion-heading" data-acc-link="accordion1" style="cursor: pointer">
                        1-модуль. Тірі ағзалардың қызметі: экожүйе және жасуша
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect x="2.16211" y="6.80872" width="11.313" height="2.37077" rx="1.18538" transform="rotate(45 2.16211 6.80872)" fill="#909090"></rect>
                          <rect x="16.4854" y="8.48511" width="11.313" height="2.28276" rx="1.14138" transform="rotate(135 16.4854 8.48511)" fill="#909090"></rect>
                        </svg>
                      </div>
                      <div  class="panel-body accordion-body"  data-acc-content="accordion1"  style="display: none">
                        <ul class="accordion-ul">
                          <li class="accordion-li">
                            <a  href="https://daiyndal.kz/courses/16/module/30/lesson/9">
                              1-сабақ. Экожүйелер
                              <img
                                src="{% static 'images/open-icon.svg' %}"
                                alt=""
                              />
                            </a>
                          </li>
                          <li class="accordion-li">
                            <a
                              href="https://daiyndal.kz/courses/16/module/30/lesson/10"
                            >
                              2-сабақ. Тірі организмдерді жүйелеу
                              <img
                                src="{% static 'images/open-icon.svg' %}"
                                alt=""
                              />
                            </a>
                          </li>
                          <li class="accordion-li">
                            <a
                              href="https://daiyndal.kz/courses/16/module/30/lesson/11"
                            >
                              3-сабақ. Жасушалық биология. Су және органикалық
                              заттар.
                              <img
                                src="{% static 'images/open-icon.svg' %}"
                                alt=""
                              />
                            </a>
                          </li>
                          <li class="accordion-li">
                            <a
                              href="https://daiyndal.kz/courses/16/module/30/lesson/12"
                            >
                              4-сабақ. Заттардың тасымалдануы
                              <img
                                src="{% static 'images/open-icon.svg' %}"
                                alt=""
                              />
                            </a>
                          </li>
                          <li class="accordion-li">
                            <a
                              href="https://daiyndal.kz/courses/16/module/30/lesson/13"
                            >
                              5-6 сабақ. Тірі организмдердің қоректенуі. Тыныс
                              алу.
                              <img
                                src="{% static 'images/open-icon.svg' %}"
                                alt=""
                              />
                            </a>
                          </li>
                          <li class="accordion-li">
                            <a
                              href="https://daiyndal.kz/courses/16/modules/30/test"
                            >
                              Сдача теста
                              <img
                                src="{% static 'images/open-icon.svg' %}"
                                alt=""
                              />
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
